* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contact-section {
  padding: 0 30px;
  margin: 80px 0 100px;
}

.contact-section > h1 {
  font-size: 2.5em;
  margin: 50px 0 40px;
}

.contact-form {
  display: grid;
  max-width: 100%;
  gap: 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name  "
    "email "
    "phone"
    "message "
    "btn ";
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}

.message {
  grid-area: message;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.contact-title {
  margin-bottom: 16px;
  color: #6b708d;
  font-size: 1.25em;
  font-weight: 400;
}

.contact-text-field {
  width: 100%;
  font-size: 1em;
  height: 70px;
  padding-left: 20px;
  border: none;
  background-color: rgba(107, 112, 141, 0.1);
}

.contact-text-field:focus {
  outline: none;
  border: 1px solid #f2f4fc;
  box-shadow: 0 0 5px #6b708d;
}

.text-area {
  height: 200px;
  padding-top: 20px;
  font-size: 1rem;
}

.textT-area::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.btn-submit-form {
  background-color: #072ac8;
  height: 80px;
  padding: 15px 30px;
  font-size: 1.1em;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  grid-area: btn;
}

.btn-submit-form:hover {
  background-color: #292e47;
}

.input-control.success input {
  border: 2px solid #35fa17;
  box-shadow: 0 0 10px #1fc944;
}

.input-control.error input {
  border: 2px solid #f88282;
  box-shadow: 0 0 8px #db1721;
}

.input-control.error textarea {
  border: 2px solid #f88282;
  box-shadow: 0 0 8px #dd1f28;
}

.input-control.success textarea {
  border: 2px solid #35fa17;
  box-shadow: 0 0 10px #1fc944;
}

.input-control .error {
  color: #ff3860;
  font-size: 10px;
  height: 12px;
}

/* ------------------------------------------------ */
/* ----------------MEDIA QUERIES------------------- */
/* ------------------------------------------------ */

@media only screen and (min-width: 768px) {
  .contact-section {
    margin: 100px 0 150px 0;
  }

  .contact-section > h1 {
    margin-bottom: 120px;
    font-size: 3.75em;
  }

  .contact-form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name  name"
      "email phone"
      "message  message"
      "btn btn";
  }
}

@media only screen and (min-width: 1366px) {
  .contact-section {
    padding: 0;
    margin: 180px 0 100px;
  }
}
